*.tfvars
*.tfvars.json
*.key
*.lock*
*.iml
*.log

*.tfstate
*.tfstate.backup
/.terraform
/.idea
/.DS_Store
/.ansible_vault_pass
inventory.ini

.gradle
build
/build
!gradle/wrapper/gradle-wrapper.jar
!gradle/wrapper/gradle-wrapper.properties
!/src/main//build/
!/src/test/**/build/