<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Order</title>
</head>
<body>
<form method="post">

    <span th:text="${product.name}">SSS</span>
</form>
<form method="POST" th:object="${product}">
    <div class="grid">
        <div class="order-group" id="wraps">
            <h1>Products</h1>
            <div th:each="product : ${wrap}">
                <input th:field="*{products}" type="checkbox" th:value="${product.id}"/>
                <span th:text="${product.name}">Product</span><br/>
            </div>
        </div>
    </div>
</form>


</body>
</html>